#content {
    display: inline-block;
    width: 100%;
    height: calc(90vh - 2px);
}

#topic-list {
    width: calc(100% - 2em);
    min-height: 10vh;
    border-bottom: 2px solid #cccccc;
    padding: 1em;
}

#toolbar {
    padding: 1em;
    float: right;
    width: 20%;
    max-width: 200px;
    height: 100%;
    border-left: 2px solid #cccccc;
}

#new-search {
    width:100%;
}

#gif-dump {
    width: calc(100% - (202px + 2em));
    height: 100%;
    float: left;
}

.gif-div {
    display: inline;
}